<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>Contact</h1>
            <p class=>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque et tempora officia explicabo
                soluta,
                veritatis dignissimos eos non recusandae corporis veniam voluptate culpa possimus sint eligendi expedita
                voluptatem quod saepe.
                Blanditiis dolorum unde aperiam dolore aspernatur tempora molestias odit omnis!</p>
        </div>
        <div class="col-1"></div>

    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-2">
                                <label for="exampleFormControlInput1">
                                    <p class="font-weight-bold">Your-Email</p>
                                </label>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <input type="email" class="form-control font-weight-lighter"
                                        id="exampleFormControlInput1" placeholder="Your email">
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-2">
                                <label for="exampleFormControlTextarea1">
                                    <p class="font-weight-bold">Your message</p>
                                </label>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <textarea class="form-control font-weight-lighter" id="exampleFormControlTextarea1"
                                        rows="3" placeholder="Please enter your message here..."></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-10"></div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>

            </div>
        </div>
    </div>
</div>