<!-- your html code here -->

<div class="container">
    <div class="row">
        <div class="">
            <h2 class="font-weight-bold">Portafolio</h2>
        </div>
    </div>
    <div class="row">
        <div class="">
            <h4><p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum, laboriosam vero beatae quam mollitia dolores ipsam 
            </p></h4>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
        <div class="card">
            <img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/finn-html-css-t1.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary font-weight-bold">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
        </div>
        <div class="card">
            <img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/finn-html-css-t1.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary font-weight-bold">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
        </div>
        <div class="card">
            <img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/finn-html-css-t1.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary font-weight-bold">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    </div>
    
</div>